.header{
  justify-content: space-between;
}

@media (max-width:860px){

  nav{
    display: flex;
  }

  .header{
    display: flex;
    height: 4.3rem;
  }
  .logo-container{
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .logo-container .logo{
    height: 100%;
  }

  .button-container p {
    display: none;
  }
}

main{
  display: flex;
  margin-top: 90px;
}

/*---- log in container -----*/
.user-login-fav-container{
  flex: 2;
  display: flex;
  justify-content: end;
}

.user-login-fav{
  max-width: 300px;
  margin-right: 10px;
  height: 380px;
  padding: 10px;
  border-radius: 5px;

  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.07);
}

.log-in-btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  height: 50px;
  margin:10px 0 10px;
  border-radius: 10px;

  background: linear-gradient(to right, #4a60c1 10%, #3985e0);
  color: white;
 
  overflow: hidden;
  cursor: pointer;
}

.log-in-btn-container:hover{
  opacity: 0.8;
}

.indicator{
  position: absolute;
  height: 100%;
  width: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom-right-radius: 30px;

  left: 0;
  top: 0;
  background:linear-gradient(90deg, rgb(171, 17, 17), rgb(235, 53, 53));
}

.indicator img{
  height: 30px;
}

.new-account-fav-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  height: 50px;
  margin:10px 0 10px;
  width: 100%;

  font-size: 1rem;
  color: blue;
  background-color: white;

  border: 1px solid blue;
  border-radius: 10px;

  cursor: pointer;
}

.new-account-fav-btn:hover{
  background-color: rgba(0, 149, 255, 0.05);
  color: black;
}

@media (max-width:900px){    /*  adapt login container */
  main{
    flex-direction: column;
  }

  .user-login-fav{
    width: 100%;
    margin: 10px;
    max-width: inherit;
    height: inherit;
  }

  .user-login-fav-container{
    width: inherit;
  }
}

/*---- products container -----*/

.grid-fav-products{
  flex: 5;
  padding-right: 10px;
  padding-left: 10px;

  justify-content: start;
}

.product-container{
  display: flex;

  background-color: white;
  margin-bottom: 15px;
  padding: 10px;

  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.07);

  max-width: 870px;
}

.image-container{
  flex: 1;

  max-width: 200px;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

}

.image-container img {
  max-width: 100%;
  max-height: 100%;
}

.product-details-container{
  flex: 3;
  display: flex;
}

.product-details-container .left-side{
  height: 200px;
  flex: 1;
  position: relative;
}

.product-details-container .right-side{
  width: 200px;
}

@media(max-width:700px){
  .product-details-container{
    display: block;
  }

  .product-details-container .right-side{
    width: 100%;
  }

  .image-container{
    align-items: start;
  }
}

.genius{
  background: linear-gradient(90deg, rgb(184, 3, 3), rgb(0, 0, 163));
  color: white;
  font-family: 'Poppins';
  font-weight: 600;
  padding: 5px;
  font-size: 13px;
  border-radius: 5px;
  margin: 0px 10px;
  
}

.super-pret{
  background-color: rgb(185, 0, 0);
  color: white;
  font-family: 'Poppins';
  font-weight: 600;
  padding: 5px;
  font-size: 13px;
  border-radius: 5px;
}

.title{
  height: 100px;
  line-height: 25px;
  font-weight: 500;
  padding: 0px 10px;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  text-overflow: ellipsis;
  word-wrap: break-word;

  overflow: hidden;
}

.avg-star{
  display: inline;
  padding-left: 5px;
  font-size: 18px;
}
.nr-stars{
  display: inline;
  color: gray;
}

.star-outer{
  position: relative;
  font-size: 25px;
  display: inline-block;
}

.star-outer:before{
  content: '\2605 \2605 \2605 \2605 \2605';
  color: rgba(128, 128, 128, 0.559);
}

.star-inner{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  overflow: hidden;
}

.star-inner::before{
  content: '\2605 \2605 \2605 \2605 \2605';
  color: gold;
}

.price{
  color: rgb(206, 4, 4);
  font-size: 1.3rem;
  font-weight: 700;
}

.add-to-cart-btn{
  background: linear-gradient(to right, #4a60c1 10%, #3985e0);
  padding: 10px;
  border: none;
  border-radius: 7px;
}

.add-to-cart-btn img{
  height: 30px;
  cursor: pointer;
}

.right-side p{
  color: gray;
  margin-bottom: 10px; 
  font-weight: 500; 
}

.remove-from-fav{
  position: absolute;
  right: -200px;
  cursor: pointer;

  height: 30px;
  width: 30px;
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-from-fav:hover{
  background-color: rgba(128, 128, 128, 0.192);

}

.remove-from-fav img{
  height: 15px;
}

@media(max-width:700px){
  .right-side p{
    margin-bottom: 5px;
  }

  .remove-from-fav{
    right: 5px;
  }
}



.empty-fav-container{
  text-align: center;
  
}

.empty-fav-container h2{
  font-weight: 500;
  color: rgb(44, 44, 44);
}

.empty-fav-container h2:nth-child(3){
  margin-bottom: 15px;
}

.empty-fav-container p{
  font-weight: 500;
  color: rgb(81, 81, 81);

}

.see-products-btn{
  margin-top: 30px;
  padding: 12px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #005eb8;
  color: white;
  cursor: pointer;
}

.see-products-btn:hover{
  background-color: #004e96;
}