/*--- left side of page ---*/

.category-details{
  position: absolute;
  top: 0rem;
  left: 1rem;
  width: 300px;
  background-color: rgb(216, 234, 239);
  padding: 10px;
  min-height: 300px;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.034);
}

.category-details h2{
  color: blue;
  margin-bottom: 15px;
}

.category-details p{
  color: rgb(125, 125, 227);
  letter-spacing: 0.05rem;
  text-decoration: underline;
}

.category-details span{
  color:blue;
  padding-left: 10px;
}

/*--- right side of page ----*/

.products-grid{
  margin-left: 350px;
  margin-top: 7rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
}

@media(max-width:1500px){
  .products-grid{
    grid-template-columns: repeat(4, 1fr);
  }
}

@media(max-width:1300px){
  .products-grid{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width:1100px){
  .products-grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width:900px){
  .products-grid{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media(max-width:600px){
  .products-grid{
    grid-template-columns: repeat(1, 1fr);
    margin-left: 0;
  }

  .category-details{
    display: none;
  }

}

/*----- product container -----*/

.product-container{
  position: relative;
  height: 500px;
  margin-left: 13px;
  margin-top: 13px;
  max-width: 350px;
  border-radius: 3px;
  padding: 5px;
  background-color: white;
  transition: box-shadow 0.15s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.048);
}

.product-container:hover{
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.fav-button{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 20px;

  background-color: white;
}

.fav-button:active{
  box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.135);
}

.fav-button img{
  width: 20px;
}

.genius{
  position: absolute;
  top: 25px;
  left: 0;
  background: linear-gradient(90deg, rgb(184, 3, 3), rgb(0, 0, 163));
  color: white;
  font-family: 'Poppins';
  font-weight: 600;
  padding: 5px;
  font-size: 13px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.promotie{
  position: absolute;
  top: 200px;
  left: 0;

  background-color: rgb(240, 29, 29);
  padding: 3px;
  color: white;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 13px;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.image-container{
  height: 45%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img{
  max-width: 100%;
  max-height: 100%;  
}

.product-details{
  height: 45%;
  padding: 10px;
}

.product-details .title{
  height: 30%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  word-wrap: break-word;

  font-size: 1.1rem;
  letter-spacing: 0.04rem;
}

.product-details .rating{
  height: 15%;
  margin: 7px 5px;
}

.rating .star-outer{
  position: relative;
  font-size: 25px;
  display: inline-block;
}

.rating .star-outer:before{
  content: '\2605 \2605 \2605 \2605 \2605';
  color: rgba(128, 128, 128, 0.559);
}

.rating .star-inner{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  overflow: hidden;
}

.rating .star-inner::before{
  content: '\2605 \2605 \2605 \2605 \2605';
  color: gold;
}

.rating p{
  display: inline;
  margin-left: 5px;
}

.rating p:last-child{
  color: gray;
}

.product-details .price{
  display: flex;
  align-items: end;
  height: 55%;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(238, 54, 54);
  font-family: 'Poppins';
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.04);
}

.product-container .button-container{
  height: 10%;
  position: relative;
}

.button-container button{
  height: 38px;
  width: 100%;
  background: linear-gradient(90deg,rgb(48, 48, 212),rgb(60, 107, 217));
  color: white;
  border: none;
  border-radius: 5px;
  font-family: 'Poppins';
  font-weight: 300;
  opacity: 0.9;
  transition: opacity 0.15s;
}

.button-container button:hover{
  opacity: 1;
  cursor: pointer;
}

.button-container button:active{
  opacity: 0.6;
}

.cart-container{
  position: absolute;
  background:linear-gradient(90deg, rgb(171, 17, 17),rgb(235, 53, 53));
  top: 5px;
  left: 0;
  height: 39px;
  width: 40px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 50%;
}

.cart-container img{
  width: 20px;;
}

